// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Logo
.navbar-brand {
    &__logo {
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

.left-menu {
    &__active {
        background-color: #d2f4ea;
    }

    &__list {
        font-size: 0;

        &-item {
            font-size: 15px;
        }

        &-city__btn {
            text-align: left;
        }
    }

    &__export {
        display: grid;

        & a {
            text-decoration: none;
            color: #000;
            padding: 0 0 5px 5px;

            &:hover {
                text-decoration: #bb2d3b;
                text-decoration-line: underline;
            }
        }
    }
}
.point-view {
    &__exec {
        &:hover {
            background-color: #0d6efd !important;
            cursor: pointer;
        }
        &:active {
            background-color: #1a202c !important;
            color: #fff !important;
        }
    }
    &__screen {
        padding: 10px;
        width: 520px;
        min-height: 180px;
        background-color: #000;
        color: #fff;
        font-family: monospace;
        border-radius: 5px 5px 0 0;
        border-top: gray solid 20px;
        margin: 15px 0;
    }
}

.point-view__miracle {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}
